/* weltkarte.css - Styles für die Weltkarte */
/* Leaflet CSS importiert von CDN, damit die Karte korrekt angezeigt wird */

body {
  background-color: #d8cab5;
}

main h1 {
  color: #c85d2b;
  font-family: "Comic Sans MS", cursive, sans-serif;
  display: flex;
  justify-content: center;
}
